<style>
.collection-item a{
  display: block;
}
</style>

<div class="container rules">
  <div class="row">
    <div class="col s12 m10 offset-m1 z-depth-3 white">
      <div class="row headline">
        <div class="col s12 center-align">
          <h5>SWEEPSTAKES & CONTEST RULES</h5>
          <p>Select one to view the rules</p>
        </div>
      </div>
    <% if @rd_rules.length > 0 %>
      <div class="row rules-list">
          <div class="rd-list-logo col s8 offset-s2 m6 offset-m3 center-align">
            <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/radiodisneyapp/rdlogo.jpg">
          </div>
          <div class="col s12">
            <ul class="collection">
            <% @rd_rules.each do |rules_file| %>
              <li class="collection-item"><%= link_to rules_file.name, rules_file, :class => "grey-text text-darken-1" %></li>
            <% end %>
            </ul>
          </div>
      </div>
      <% end %>
      <% if @rdc_rules.length > 0 %>
      <div class="row">
        <div class="rd-list-logo col s8 offset-s2 m6 offset-m3 center-align">
          <img class="responsive-img" src="https://s3.amazonaws.com/myfangate.com/radiodisneyapp/rdcountry.jpg">
        </div>
        <div class="col s12">
          <ul class="collection">
          <% @rdc_rules.each do |rules_file| %>
            <li class="collection-item"><%= link_to rules_file.name, rules_file, :class => "grey-text text-darken-1" %></li>
          <% end %>
          </ul>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
