<div class="container">
  <div class="row white z-depth-3 rules-form-container">
    <div class="col s10 offset-s1">
      <h2>Edit <%= @rules_file.name %></h2>
      <%= render partial: 'rules_files/form' %>
    </div>
  </div>
</div>
